* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    width: auto;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
}

.Logo_Charge {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.menu {
    margin-left: 500px;
    display: flex;
    width: auto;
    /* border: 1px solid yellow; */
}

.nome_charge {
    margin: 30px;
    height: 15px;
    width: 64px;
    /* border: 1px solid red; */
}

.nome_emp {
    font-family: 'Kufam', sans-serif;
    color: #1B87F0;
}

.menu_sobre {
    margin-top: 30px;
}

.sobre_nos {
    font-family: 'Hind', sans-serif;
}

.menu_capacidades {
    margin-top: 30px;
    margin-left: 15px;
}

.capacidades {
    font-family: 'Hind', sans-serif;
}

.menu_portfolio {
    margin-top: 30px;
    margin-left: 15px;

}

.portfolio {
    font-family: 'Hind', sans-serif;
}

.menu_servicos {
    margin-top: 30px;
    margin-left: 15px;
}

.servicos {
    font-family: 'Hind', sans-serif;
}

.solicite_orcamento {
    /* border: 1px solid black; */
    margin-left: 15px;
}

.sol_orcamento {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: 3px solid #005B50;
    border-radius: 30px;
    color: #005B50;
    cursor: pointer;
}

.sol_orcamento:hover {
    background: #e7e7e7; /* muda a cor no hover */
  }